<!DOCTYPE html>
<head>
    <title>{{#if page.title}}{{page.title}} - {{/if}}{{config.title}}</title>
    {{#page.__index}}
    <meta name="description" content="{{config.description}}">
    {{/page.__index}}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#181818">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#000000">
</head>
<body class="page-layout-{{page.layout}} page-path-{{page.path}} page-id-{{page._id}}">
    <div id="navbar">
        <div id="navbar-cont">
            <svg id="navbar-menu">
                <use xlink:href="/img/menu.svg#layer1"></use>
            </svg>
            <span id="navbar-title">{{config.title}}</span>
        </div>
    </div>

    <div id="sidebar">
        <nav id="sidebar-nav">
            <svg id="sidebar-logo">
                <use xlink:href="/img/logo.svg#layer1"></use>
            </svg>
            {{#each theme.menu}}
                <a class="sidebar-nav-link" href="{{this}}">{{@key}}</a>
            {{/each}}
        </nav>
    </div>

    {{{body}}}
</body>